# Inspired from
# github.com/github/gitignore
# R, Python, macOS

# History and logging
.Rhistory
.Rapp.history
.history
**log*
**out
**archive
**.ipynb.py

# Environment files
.Renviron
renv/
.Rprofile

# User-specific files
.Ruserdata

# Intermediate files and folders
.snakemake
workflow/

# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Example code in package build process
*-Ex.R
# produced vignettes
vignettes/*.html
vignettes/*.pdf

# RStudio and Jupyterfiles
.Rproj.user/
*.Rproj
.ipynb_checkpoints

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
__pycache__/
temp
tmp

# Big files and folders
*.h5ad
.RData
.RDataTmp
bin
data
docs
figures
img
literature/
manuscript/
meetings/
misc
outreach/
results
share/
src
tables
R/

# OS files and folders
.DS_Store
.AppleDouble
.LSOverride
Icon*
._*
.TemporaryItems
__MACOSX

# envs, and miscellaneous
code/chart_gantt.py
envs/celltypist.yaml
envs/funkyheatmap.yaml
envs/pegasus.yaml
envs/plots.yaml
envs/rapids_singlecell.yaml
envs/scanpy.yaml
envs/scgen.yaml
envs/scib.yaml
envs/scib_accel.yaml
envs/scqooc.yaml
envs/scvi-tools.yaml