output_dir: results/xenium_CTCL_scAtlasTb
images: results/xenium_CTCL_scAtlasTb

os: intel
use_gpu: true

defaults:
  clustering:
    algorithm: louvain
    resolutions:
      - 0.1
      - 0.4
      - 0.8

output_map:
  preprocessing: results/xenium_CTCL_scAtlasTb/preprocessing/dataset~{dataset}/file_id~{file_id}/preprocessed.zarr

DATASETS:
  hAtlas: # custom task/workflow name
    # input specification: map of module name to map of input file name to input file path
    input:
      merge:
        57__AX10-SKI-0-FFPE-1-S7: data/processed/xenium_CTCL_hAtlas-v1.1/57__AX10-SKI-0-FFPE-1-S7_qc.zarr
        57__AX21-SKI-0-FFPE-1-S7: data/processed/xenium_CTCL_hAtlas-v1.1/57__AX21-SKI-0-FFPE-1-S7_qc.zarr
        73__AX8-SKI-0-FFPE-1-S18: data/processed/xenium_CTCL_hAtlas-v1.1/73__AX8-SKI-0-FFPE-1-S18_qc.zarr
        57__AX11-SKI-0-FFPE-1-S8: data/processed/xenium_CTCL_hAtlas-v1.1/57__AX11-SKI-0-FFPE-1-S8_qc.zarr
        57__AX21-SKI-0-FFPE-1-S8: data/processed/xenium_CTCL_hAtlas-v1.1/57__AX21-SKI-0-FFPE-1-S8_qc.zarr
        73__AX9-SKI-0-FFPE-1-S10: data/processed/xenium_CTCL_hAtlas-v1.1/73__AX9-SKI-0-FFPE-1-S10_qc.zarr
      preprocessing: merge
      integration: preprocessing
      collect: integration
      metrics: collect
    
    # module configuration
    preprocessing:
      raw_counts: X
      normalize:
        target_sum: 1000
      highly_variable_genes:
        n_top_genes: 2000
      scale: true
      pca:
        n_comps: 379
      neighbors:
        n_neighbors: 16
      umap:
        neighbors_key: neighbors
      assemble:
        - normalize
        - highly_variable_genes
        - pca
        - neighbors
        - umap
    
    integration:
      raw_counts: layers/counts
      norm_counts: layers/normcounts
      batch: file_id
      methods:
        unintegrated:
        harmonypy:
          key: file_id
          n_comps:
            - 10
        scvi:
          n_hidden: 128
        # scgen:
        #   n_epochs: 10

    metrics:
      unintegrated: layers/normcounts
      raw_counts: layers/counts
      corrected: X
      label:
        - louvain_0.1_1
      batch:
        - file_id
      metrics:
        - nmi
        - ari
        - asw_label
        - asw_batch
        - cell_cycle
        - clisi
        - ilisi
        - graph_connectivity
        # - isolated_label_asw
        - isolated_label_f1
        # - pcr_comparison
        # - kbet_pg